@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* *Shared Section */
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.orange {
  color: #FEA301;
}

.sky-blue {
  color: #01ACFD;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

/* *Nav Section */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container h1 {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-action button {
  width: 150px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background-color: #FEA301;
  color: white;
  font-weight: 600;
  font-family: inherit;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
}

/* *Banner Section */
.banner-container {
  display: flex;
  align-items: center;
  width: 81vw;
  margin: 0 auto;
}

.banner-items {
  margin-right: 50px;
}

.banner-title {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 24px;
}

.banner-subtitle {
  margin-bottom: 24px;
}

.banner-btn button {
  background-color: black;
  color: white;
  border: none;
  width: 150px;
  padding: 10px;
  border-radius: 12px;
  font-family: inherit;
  font-weight: bold;
}

/* *Curriculum Section */
.curriculum-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 81vw;
  margin: 0 auto;
  background-image: url("../assets/bg.png");
}

.curriculum-cards {
  display: flex;
  gap: 28px;
}

.curriculum-card {
  width: 300px;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#curriculum-card2 {
  background-image: linear-gradient(#FAEFD9, white, white);
}

.curriculum-card-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 32px;
}

.curriculum-card-subtitle {
  color: #808080;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 32px;
}

.curriculum-card img {
  margin-bottom: 32px;
}

.curriculum-card a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  /* *Nav Section */
  .nav-container {
    justify-content: space-between;
  }

  .nav-action button {
    display: none;
  }

  .nav-action i {
    display: block !important;
  }

  #nav-hr {
    display: block !important;
  }

  .nav-container h1 {
    display: none;
  }

  .nav-links {
    display: none;
  }

  /* *Banner Section */
  .banner-container {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .banner-items {
    margin-right: 0;
  }

  .banner-container img {
    width: 100%;
  }

  .banner-title {
    font-size: 32px;
  }
}