@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* *Shared Section */
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.orange {
  color: #FEA301;
}

.sky-blue {
  color: #01ACFD;
}

/* *Nav Section */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container h1 {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-action button {
  width: 150px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background-color: #FEA301;
  color: white;
  font-weight: 600;
  font-family: inherit;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
}

/* *Banner Section */
.banner-container {
  display: flex;
  align-items: center;
  width: 81vw;
  margin: 0 auto;
}

.banner-items {
  margin-right: 50px;
}

.banner-title {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 24px;
}

.banner-subtitle {
  margin-bottom: 24px;
}

.banner-btn button {
  background-color: black;
  color: white;
  border: none;
  width: 150px;
  padding: 10px;
  border-radius: 12px;
  font-family: inherit;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .nav-container {
    justify-content: space-between;
  }

  .nav-action button {
    display: none;
  }

  .nav-action i {
    display: block !important;
  }

  #nav-hr {
    display: block !important;
  }

  .nav-container h1 {
    display: none;
  }

  .nav-links {
    display: none;
  }
}