@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* *Shared Section */
.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.orange {
  color: #FEA301;
}

.sky-blue {
  color: #01ACFD;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

/* *Nav Section */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.nav-container h1 {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-action button {
  width: 150px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background-color: #FEA301;
  color: white;
  font-weight: 600;
  font-family: inherit;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
}

/* *Banner Section */
.banner-container {
  display: flex;
  align-items: center;
  width: 81vw;
  margin: 0 auto;
}

.banner-items {
  margin-right: 50px;
}

.banner-title {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 24px;
}

.banner-subtitle {
  margin-bottom: 24px;
}

.banner-btn button {
  background-color: black;
  color: white;
  border: none;
  width: 150px;
  padding: 10px;
  border-radius: 12px;
  font-family: inherit;
  font-weight: bold;
}

/* *Curriculum Section */
.curriculum-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 81vw;
  margin: 0 auto;
  background-image: url("../assets/bg.png");
}

.curriculum-cards {
  display: flex;
  gap: 28px;
}

.curriculum-card {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #F2E8FF;
  margin-bottom: 80px;
}

#curriculum-card1 {
  background-image: linear-gradient(#DCF1FB, white, white, white);
}

#curriculum-card2 {
  background-image: linear-gradient(#FAEFD9, white, white, white);
}

#curriculum-card3 {
  background-image: linear-gradient(#EBDEFB, white, white, white)
}

#curriculum-a1 {
  color: #64C8FF;
}

#curriculum-a2 {
  color: #F0AA00;
}

#curriculum-a3 {
  color: #8700FF;
}

.curriculum-card-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 32px;
}

.curriculum-card-subtitle {
  color: #808080;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 32px;
}

.curriculum-card > .curriculum-img img {
  margin-bottom: 32px;
}

.curriculum-card a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 32px;
}

.curriculum-btns {
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
}

.curriculum-btn button {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: orange;
  border: none;
}

.curriculum-btn button:hover {
  cursor: pointer;
}

/* *Stories Section */
.stories {
  background-image: url('../assets/bg.png'), linear-gradient(white, #fea10181)
}

.stories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 81vw;
  margin: 0 auto;
}

.story-cards {
  display: flex;
  gap: 19px;
}

.story-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}

.main-story {
  border-radius: 16px;
  background-color: white;
  width: 540px;
  height: 600px;
}

.story-card {  
  /* height: 300px; */
  width: 270px;
  background-color: white;
  border-radius: 16px
}

.main-story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stories-container img {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.main-story-date {
  margin-left: 38px;
  border-radius: 47px;
  background-color: #3CD8E8;
  width: 150px;
  padding: 19px;
  color: white;
}

.story-date {
  margin-left: 38px;
  border-radius: 47px;
  background-color: #95B226;
  width: 150px;
  font-weight: 500;
  height: 10px;
  padding: 11px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-position {
  position: relative;
  bottom: 24px;
  font-size: 15px;
  text-align: center;
}

.main-story-title {
  font-weight: bold;
  font-size: 24px;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 32px;
}

.story-title {
  font-weight: bold;
  font-size: 15px;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 24px;
}

.main-story-subtitle {
  font-weight: 500;
  color: #666666;
  font-size: 15px;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 768px) {

  /* *Shared Section */
  .section-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 26px;
  }

  /* *Nav Section */
  .nav-container {
    justify-content: space-between;
  }

  .nav-action button {
    display: none;
  }

  .nav-action i {
    display: block !important;
  }

  #nav-hr {
    display: block !important;
  }

  .nav-container h1 {
    display: none;
  }

  .nav-links {
    display: none;
  }

  /* *Banner Section */
  .banner-container {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .banner-items {
    margin-right: 0;
  }

  .banner-container img {
    width: 100%;
  }

  .banner-title {
    font-size: 32px;
  }

  /* *Curriculum Section */
  .curriculum-cards {
    flex-direction: column;
  }

  .curriculum-card {
    margin-bottom: 0px;
    width: 80vw;
  }

  .curriculum-btns {
    display: none;
  }
}